:root {
  --g1: #ace0f9;
  --g2: #262626;
}

body {
  background: linear-gradient(to top, #2c488e -20%, #667db6 20%, #667db6 75%, #eaafc8 100%);
  transition: background-position 1s ease-out;
  background-position: center bottom;
  background-size: 100% 400%;
  height: 100vh;
  overflow: hidden;
  margin: 0px;
  padding: 0;
  font-family: 'Open sans', sans-serif;
  color: #fff;
}

.main-wrapper {
  height: 110vh;
}

main {
  height: 100vh;
  position: relative;
  overflow-y: auto;

}

main.animated {
  opacity: 0;
  filter: blur(2px);
  transition: opacity 1.5s ease-in-out, filter 1.5s ease-in-out;
}

header {
  padding-top: 4em;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header > img {
  width: 6em;
  height: 6em;
  border-radius: 100%;
  border: 1px solid #fffa;
  box-shadow: rgb(20 32 93 /24%) 0px 2px 8px 0px;
}

header > h1 {
  display: inline-block;
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 1.2em;
  border-radius: 1em;
  /* background-color: #000a; */
  color: #fff;
  /* padding: 0.3em 0.6em;
  border: 2px solid #fffa; */
  /* backdrop-filter: blur(10px) saturate(200%) contrast(150%);
  -webkit-backdrop-filter: blur(10px) saturate(200%) contrast(150%); */
}

ul {
  height: fit-content;
  box-sizing: border-box;
  list-style: none;
  margin: 0em auto;
  padding: 0em 2em;
  max-width: 720px;
}

ul > li {
  /* background-color: rgba(255, 255, 255, 0.3); */
  /* background-color: #fffa; */
  /* backdrop-filter: blur(6px) saturate(180%) contrast(100%); */
  /* backdrop-filter: blur(10px) saturate(200%) contrast(150%);
  -webkit-backdrop-filter: blur(10px) saturate(200%) contrast(150%); */
  position:relative;
  background-color: none;
  border-radius: 10em;
  border: 2px solid #fffa;
  margin: 1.4em 0;
  box-shadow: rgb(20 32 93 / 24%) 0px 2px 8px 0px;
}

ul > li:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  border: 2px solid rgb(254, 96, 159);
}

ul > li:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

ul > li::after {
  background-color: #fff;
}

ul > li:active {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  border: 2px solid rgb(254, 96, 159);
}

ul > li:active::before {
  content: "";
  position:absolute;
  top: 50%;
  transform: translateY(50%);
  background-color: white;
  height: 2px;
  animation-name: slash;
  animation-timing-function: ease-in;
  animation-duration: 0.2s;
}

ul > li.clicked::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(50%);
  background-color: white;
  height: 2px;
  width: 100%;
}

ul > li.clicked:hover::before {
  background-color: rgb(254, 96, 159);
}

@keyframes slash {
  0% {
    opacity: 0;
    width: 0%;
  }
  100% {
    opacity: 1;
    width: 100%;
  }
}


ul > li > a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  padding: 1em;
}

a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 10em;
  border: 2px;
}

footer {
  width: 100%;
  height: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: fit-content;
  height: 20px;
  display: flex;
  flex-direction: row;
}

.logo > svg {
  margin-left: -64px;
}

.intro-container{
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.drop {
  margin: 175px auto;
  position: relative;
	width: 20px;
	height: 20px;
  top: -30px;
  margin: 0 auto;
	background: #FFF;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
  -moz-animation-name: drip;
  -webkit-animation-name: drip;
  animation-name: drip;
  -moz-animation-timing-function: cubic-bezier(1,0,.91,.19);
  -webkit-animation-timing-function: cubic-bezier(1,0,.91,.19);
  animation-timing-function: cubic-bezier(1,0,.91,.19);
  -moz-animation-duration: 2s;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

.drop:before {
  content: "";
  position: absolute;
  width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 30px solid rgba(255,255,255,1);
  top: -22px;
}

.wave {
  position: relative;
  opacity: 0;
  top: 200px;
	width: 2px;
	height: 1px;
  border: #FFF 7px solid;
	-moz-border-radius: 300px / 150px;
	-webkit-border-radius: 300px / 150px;
	border-radius: 300px / 150px;
  -moz-animation-name: ripple;
  -webkit-animation-name: ripple;
  animation-name: ripple;
  -moz-animation-delay: 2s;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -moz-animation-duration: 2s;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

.wave:after {
  content: "";
  position: absolute;
  opacity: 0;
  top: -5px;
  left: -5px;
	width: 2px;
	height: 1px;
  border: #FFF 5px solid;
	-moz-border-radius: 300px / 150px;
	-webkit-border-radius: 300px / 150px;
	border-radius: 300px / 150px;
  -moz-animation-name: ripple-2;
  -webkit-animation-name: ripple-2;
  animation-name: ripple-2;
  -moz-animation-duration: 2s;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@keyframes ripple {
  from {
    opacity: 1;
  }
  to {
    width: 600px;
    height: 300px;
    border-width: 1px;
    top: 0px;
    opacity: 0;
  }
}

@keyframes ripple-2 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    width: 200px;
    height: 100px;
    border-width: 1px;
    top: 100px;
    left: 200px;
  }
}

@keyframes drip {
    to {
      top: 190px;
    }
}

::-webkit-scrollbar {
  width: 8px;
}
  
::-webkit-scrollbar-track {
  background: linear-gradient(to-top, #667db6, #eaafc8);
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.6);
  border-radius: 24px;
}
